clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: kubernetes-pods
    kubernetes_sd_configs:
      - role: pod

    pipeline_stages:
      - json:
          expressions:
            service: service
            method: method
            path: path
            status: status
            durationMs: durationMs
            timestamp: timestamp

      - timestamp:
          source: timestamp
          format: RFC3339

      - labels:
          service:
          method:
          path:
          status:

    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace

      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod

      - source_labels: [__meta_kubernetes_pod_container_name]
        target_label: container

      - source_labels: [__meta_kubernetes_pod_label_app]
        target_label: app

      - action: replace
        source_labels:
          - __meta_kubernetes_pod_uid
          - __meta_kubernetes_pod_container_name
        separator: "/"
        target_label: __path__
        replacement: /var/log/pods/*$1/*.log
