version: "3.9"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "4000:4000"
    environment:
      - PORT=4000

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
